<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nedelu.juntada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo_green"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_green"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2sxeUIzLc4NlYl5sD7l_QxR3yHpjd2YI" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.GroupsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="Juntada">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.juntada.nedelu.com"
                    android:pathPrefix="/joinGroup"
                    android:scheme="http" />
                <data
                    android:host="www.juntada.nedelu.com"
                    android:pathPrefix="/joinEvent"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewGroupActivity"
            android:label="Nuevo Grupo"
            android:parentActivityName=".activity.GroupsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewGroupTwoActivity"
            android:label="Nuevo Grupo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.NewEventActivity"
            android:label="Nueva Juntada"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewPollActivity"
            android:parentActivityName=".activity.GroupTabbedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.VoteActivity"
            android:label=""
            android:parentActivityName=".activity.GroupTabbedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.JoinActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.EventActivity"
            android:parentActivityName=".activity.GroupTabbedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GroupTabbedActivity"
            android:label="@string/title_activity_group_tabbed"
            android:parentActivityName=".activity.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.EventsActivity"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationsActivity"
            android:label="Notificaciones"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="notifications" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VisitProfileActivity"
            android:screenOrientation="portrait"
            android:label="Ver Perfil"></activity>
    </application>

</manifest>